<div class="containerPrivacyPolicy" id="top">

    <h1>Politique de Confidentialité</h1>

    <p>Date de dernière mise à jour : 25/02/2024</p>

    <p>Nous attachons une grande importance à la protection de vos données personnelles. Cette politique de confidentialité décrit comment nous collectons, utilisons et partageons vos données lorsque vous utilisez notre site web Coeur de Tomate et les services associés.</p>

    <h3>1. Collecte de données personnelles</h3>

    <p>Nous collectons diverses informations lorsque vous visitez notre site, passez une commande ou interagissez avec nos services. Cela peut inclure, sans s'y limiter, votre nom, votre adresse e-mail, votre adresse postale, votre numéro de téléphone, vos informations de paiement, ainsi que d'autres données que vous nous fournissez volontairement.</p>
    
    <p>De plus, nous collectons automatiquement certaines informations sur votre appareil lorsque vous accédez à notre site, telles que votre adresse IP, le type de navigateur que vous utilisez et les pages que vous consultez. Ces informations sont utilisées à des fins d'analyse et pour améliorer l'expérience utilisateur.</p>

    <h3>2. Utilisation des données</h3>

    <p>Nous utilisons les données collectées pour traiter vos commandes, vous fournir les services demandés, communiquer avec vous, personnaliser votre expérience sur notre site, et pour nous conformer à nos obligations légales.</p>
    
    <p>Nous pouvons également utiliser vos données pour vous envoyer des communications marketing, sous réserve de votre consentement préalable lorsque cela est requis par la loi.</p>

    <h3>3. Partage des données</h3>

    <p>Nous ne partageons vos données personnelles qu'avec des tiers dans les cas suivants :</p>

    <ul>
        <li>Lorsque cela est nécessaire pour fournir les services que vous avez demandés (par exemple, avec des transporteurs pour la livraison de vos commandes).</li>
        <li>Lorsque nous sommes légalement tenus de le faire (par exemple, en réponse à une demande des autorités compétentes).</li>
        <li>Lorsque vous avez donné votre consentement explicite.</li>
    </ul>

    <h3>4. Stockage des données</h3>

    <p>Vos données sont stockées sur des serveurs sécurisés et ne sont conservées que le temps nécessaire pour atteindre les finalités pour lesquelles elles ont été collectées, sauf si une durée de conservation plus longue est requise ou autorisée par la loi.</p>

    <h3>5. Vos droits</h3>

    <p>Vous avez le droit d'accéder à vos données personnelles, de les rectifier, de les supprimer ou de limiter leur traitement. Vous avez également le droit de vous opposer au traitement de vos données à des fins de marketing direct et de retirer votre consentement à tout moment lorsque celui-ci est requis. Pour exercer ces droits, veuillez nous contacter à "coeurdetomate &#64; gmail.com" .</p>

    <h3>6. Modifications de la politique de confidentialité</h3>

    <p>Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Toute modification sera publiée sur cette page avec une notification de mise à jour.</p>
    
    <p>En utilisant notre site et nos services, vous consentez à notre politique de confidentialité.</p>
    
    <p>Pour toute question concernant notre politique de confidentialité, veuillez nous contacter à coeurdetomate &#64; gmail.com .</p>

</div>