<div class="containerFooter">

    <div class="flexFooter">

    <!-- 1er compartiment /logo -->
        <div class="logoBloc">
            <div class="logo"> <a routerLink="/"><img src="assets/img/logo titre couleur.png" alt="Logo Coeur de Tomate"></a> </div>
        </div>

    <!-- 2ème compartiment / navigation-->
        <div class="navBloc">
            <h3>Navigation</h3>
            <nav class="navFooter">
                <ul>
                    <li><a routerLink="/">Accueil</a></li>
                    <li><a routerLink="/all-categories">Produit</a></li>
                    <li><a routerLink="/error404">A propos</a></li>
                    <li><a routerLink="/error404">Contact</a></li>
                </ul>
            </nav>
        </div>

    <!-- 3ème compartiment / legal -->
        <div class="legalBloc">    
            <h3>Légal</h3>
            <nav class="legalFooter">
                <ul>
                    <li><a routerLink="/legal-cgv">CGV</a></li>
                    <li><a routerLink="/error404">Mentions Légales</a></li>
                    <li><a routerLink="/legal-privacy-policy">Politique de Confidentialité</a></li>
                    <li><a routerLink="/error404">Gestion de cookies</a></li>
                </ul>
            </nav>
        </div>
    </div>
    
<!-- 4ème compartiment / cookies -->

    <div class="cookieBloc">
        <p> Nous utilisons des cookies pour vous offrir la meilleure expérience sur notre site. Vous pouvez à tout moment personnaliser vos préférences dans les paramètres.</p>
        <app-button class="cookieParamBtn" [text]="'Paramètres'" mat-button (click)="openCookieModal()"></app-button>
    </div>



</div>