<div class="containerHeader">

    <!-- 1er compartiment -->

    <div class="info"> Dernier ajout: graines de tomate Ananas 🍍 </div>

    <!-- 2ème compartiment -->
    
    <div class="main">

        <!-- Menu Burger Responsive -->
        <button class="burgerMenuBtn" (click)="toggleMenu()" *ngIf="!isDesktopView"><span class="material-icons md-48">menu</span></button>
        <div class="burger-menu" *ngIf="!isDesktopView && !showBurgerMenu">
            <button class="burgerMenuBtn" (click)="toggleMenu()" *ngIf="!isDesktopView"><span class="material-icons md-48">close</span></button>
            <ul class="flexBurgerMenu">
                <li><a routerLink="/">Accueil</a></li>
                <li><a routerLink="/all-categories">Produit</a></li>
                <li><a routerLink="/error404">A propos</a></li>
                <li><a routerLink="/error404">Contact</a></li>
            </ul>
        </div>

        <!-- logo -->
        <div class="logo"> <a routerLink="/"><img src="assets/img/logo titre couleur.png" alt="Logo Coeur de Tomate"></a> </div>
        <div class="logoMob" *ngIf="!isDesktopView"> <a routerLink="/"><img src="assets/img/logo couleur.png" alt="Logo Coeur de Tomate"></a> </div>
        
        <!-- recherche -->
        <div class="search" *ngIf="isDesktopView"> 
        
            <form (ngSubmit)="onSubmit()">
                <input type="text" [(ngModel)]="searchTerm" name="searchTerm" placeholder="Rechercher..." />
                <button type="submit"><span class="material-icons md-48">search</span></button>
            </form>

        </div>
        
        <!-- icons -->
        <div class="icons">
            <div class="icon-account"> <span class="material-icons md-48">person</span></div>
            <div class="icon-cart"> <a routerLink="/cart"><span class="material-icons md-48">shopping_cart</span> </a></div>
            
        </div>

    </div>

    <!-- 3ème compartiment -->
    <div class="navigation">
        <nav class="navHeader" *ngIf="isDesktopView">
            <ul>
                <li><a routerLink="/">Accueil</a></li>
                <li><a routerLink="/all-categories">Produit</a></li>
                <li><a routerLink="/error404">A propos</a></li>
                <li><a routerLink="/error404">Contact</a></li>
            </ul>
        </nav>
        <div class="searchMob" *ngIf="!isDesktopView"> 
            <form (ngSubmit)="onSubmit()">
                <input type="text" [(ngModel)]="searchTerm" name="searchTerm" placeholder="Rechercher..." />
                <button type="submit"><span class="material-icons md-48">search</span></button>
            </form>
        </div>
    </div>
    
</div>