<div class="containerLegalNotice">

    <h1>Mentions légales</h1>
    
    <h3>Éditeur du site :</h3>
    
    <p>Coeur de Tomate</p>
    <p>14 rue de la Beaune 93100 Montreuil</p>
    <p>0611738046</p>
    <p>"coeurdetomate &#64; gmail.com"</p>
    <p>[Numéro d'identification de votre entreprise (SIRET)]</p>
    
    <h3>Directeur de la publication :</h3>
    
    <p>Julie NONNON</p>
    
    <h3>Hébergeur du site :</h3>
    
    <p>[Nom de l'hébergeur à confirmer]</p>
    <p>[Adresse de l'hébergeur à confirmer]</p>
    <p>[Téléphone de l'hébergeur à confirmer]</p>
    <p>[E-mail de l'hébergeur à confirmer]</p>
    
    <h3>Données personnelles :</h3>
    
    <p>Les informations collectées via ce site sont traitées conformément à notre politique de confidentialité et en conformité avec le Règlement Général sur la Protection des Données (RGPD). Pour plus d'informations sur la collecte, le traitement et l'utilisation de vos données personnelles, veuillez consulter notre <a routerLink="/legal-privacy-policy">politique de confidentialité</a>.</p>
    
    <h3>Cookies :</h3>
    
    <p>Ce site utilise des cookies pour améliorer l'expérience utilisateur. En continuant à naviguer sur ce site, vous consentez à l'utilisation de cookies conformément à notre politique en matière de cookies. Pour plus d'informations sur l'utilisation des cookies sur ce site, veuillez consulter notre politique en matière de cookies.</p>
    
    <h3>Propriété intellectuelle :</h3>
    
    <p>Les images d'illustration (bannières, etc ...) sont libres de droit et proviennent de sites comme Unsplash. Le logo, la marque Coeur de Tomate sont protégés par les lois sur la propriété intellectuelle et sont la propriété exclusive de Coeur de Tomate ou de ses partenaires. Toute reproduction, distribution ou utilisation des contenus sans autorisation écrite préalable est strictement interdite.</p>
    
    <h3>Droit applicable et juridiction compétente :</h3>
    
    <p>Ce site est soumis au droit français. En cas de litige, les tribunaux français seront seuls compétents.</p>
    
    <h3>Contact :</h3>
    
    <p>Pour toute question ou réclamation concernant ce site ou son contenu, vous pouvez nous contacter à l'adresse suivante : "coeurdetomate &#64; gmail.com".</p>

</div>