<app-banner [title]="pageTitle" [backgroundImageUrl]="'assets/img/banner-product-details.png'"></app-banner>

<div class="productDetailContainer">

    <app-product-details-card [product]="product"></app-product-details-card>

    <br>

    <h3>Caractéristiques</h3>
    <p>{{ product.feature1 }}</p>
    <h3>Saveurs authentiques</h3>
    <p>{{ product.feature2 }}</p>
    <h3>Cultivées avec passion</h3>
    <p>{{ product.feature3 }}</p>

    <div class="productPitch">
        <p>{{ product.pitch }}</p>
    </div>

</div>

<app-delivery-infos></app-delivery-infos>