<app-banner [title]="pageTitle" [backgroundImageUrl]="'assets/img/banner-product-details.png'"></app-banner>

<div class="productDetailContainer">

    <app-product-details-card [product]="product"></app-product-details-card>

    <br>

    <h3>Caractéristiques</h3>

    <h3>Saveurs authentiques</h3>

    <h3>Cultivées avec passion</h3>

    <div class="productPitch">
        <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae iste obcaecati animi illum. Velit enim ad at ea? Non expedita soluta in quos impedit praesentium odit tempora unde labore magni.</h4>
    </div>

    <h3>{{ product.title }}</h3>
    <p>{{ product.smallDescription }}</p>
    <p>{{ product.longDescription }}</p>
    <p>{{ product.price }}</p>

</div>

<app-delivery-infos></app-delivery-infos>