.errorTitle, .errorText {
    text-align: center;
    width: 100%;
    /* border: solid violet 3px;  */
}

.errorTitle h2{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.errorText {
    padding: 0, 50%;
    margin: 0, 50%;
}

h1 {
    font-size: 100px;
    color: var(--color-title);
    font-family: "Lora", serif;
    margin-top: 20px;
    margin-bottom: 0;
    /* border: solid blue 1px; */
}

h2 {
    font-size: 230px;
    color: var(--color-title);
    font-family: "Lora", serif;
    margin-top: 0;
    margin-bottom: 0;
    /* border: solid blue 1px;  */
}

p {
    font-size: 24px;
    font-family: "Roboto Flex", sans-serif;
    
}

/* Animation tomato emote 🍅 */

@keyframes flotter {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .floatingTomato {
    animation: flotter 2s ease-in-out infinite;
  }