<div class="containerCGV">

    <h1>Conditions Générales de Vente</h1>

        <h3>1. Objet</h3>
        
        <p>Les présentes conditions générales de vente (CGV) définissent les droits et obligations des parties dans le cadre de la vente en ligne de produits proposés par Coeur de Tomate, accessible sur le site web https://www.coeur-de-tomate.fr .</p>
        
        <h3>2. Produits</h3>
        
        <p>Les produits proposés à la vente sont ceux qui figurent sur le site https://www.coeur-de-tomate.fr, au jour de la consultation du site par le client. Les photographies et descriptifs des produits ne sont pas contractuels. </p>
        
        <h3>3. Prix</h3>
        
        <p>Les prix sont indiqués en euros toutes taxes comprises (TTC). Ils ne comprennent pas les frais de livraison, facturés en supplément du prix des produits. Coeur de Tomate se réserve le droit de modifier ses prix à tout moment, mais les produits seront facturés sur la base des tarifs en vigueur au moment de l'enregistrement de la commande.</p>
        
        <h3>4. Commande</h3>
        
        <p>Le client passe commande en ligne, après avoir rempli son panier virtuel. La validation de la commande implique l'acceptation pleine et entière des présentes CGV. Un email de confirmation sera envoyé au client pour confirmer sa commande.</p>
        
        <h3>5. Paiement</h3>
        
        <p>Le règlement des achats s'effectue par carte bancaire via une plateforme sécurisée. Les paiements sont sécurisés par Stripe.</p>
        
        <h3>6. Livraison</h3>
        
        <p>Les produits sont livrés à l'adresse de livraison indiquée par le client lors de sa commande. Les délais de livraison sont indiqués lors du processus de commande et peuvent varier en fonction de la destination.</p>
        
        <h3>7. Droit de rétractation</h3>
        
        <p>Conformément à la législation en vigueur, le client dispose d'un délai de 14 jours à compter de la réception des produits pour exercer son droit de rétractation et retourner les produits à Coeur de Tomate pour remboursement, sans pénalité.</p>
        
        <h3>8. Garantie</h3>
        
        <p>Tous nos produits bénéficient de la garantie légale de conformité et de la garantie des vices cachés, dans les conditions prévues par la loi.</p>
        
        <h3>9. Responsabilité</h3>
        
        <p>Coeur de Tomate ne saurait être tenue pour responsable des dommages directs ou indirects causés par l'utilisation des produits vendus sur son site.</p>
        
        <h3>10. Données personnelles</h3>
        
        <p>Les données personnelles collectées lors de la commande sont nécessaires à la gestion de la transaction et sont traitées conformément à notre politique de confidentialité.</p>
        
        <h3>11. Litiges</h3>
        
        <p>Les présentes CGV sont soumises au droit français. En cas de litige, une solution amiable sera recherchée. À défaut, les tribunaux français seront seuls compétents.
        <br><br>
        Fait à Montreuil, le 25/02/2024.
        <br><br>
        Coeur de Tomate</p>

    </div>