.containerCGV{
    margin: 50px 5%;
    /* border: blue solid 1px; */
}

.containerCGV h1 {
    color: var(--color-title);
    font-size: clamp(22px, 5vw, 32px);
}

.containerCGV h3 {
    font-size: clamp(18px, 5vw, 20.8px);
}

.containerCGV p {
    font-size: clamp(14px, 5vw, 16px);
}

@media (max-width:430px) {
    
    .containerCGV p {
        text-align: justify;
        }

    }