<app-banner title="Bienvenue sur Coeur de Tomate" [backgroundImageUrl]="'assets/img/banner-home.png'"></app-banner>

<h1>Découvrez l'art de cultiver la diversité avec nos graines de tomates !</h1>

<div class="homeIntroBloc">
    <p>De l'amateur enthousiaste au jardinier chevronné, notre passion pour les variétés anciennes, les cocktails savoureux et les couleurs éclatantes se cultive à tous les niveaux. 
        <br><br>
    Que vous ayez un balcon en ville ou un jardin luxuriant, plongez dans l'aventure de faire pousser vos propres trésors.</p>
    <img src="assets/img/home-intro-tomatoes.png" alt="image de variétés de tomates">
</div>

<h2>Trouvez votre bonheur en parcourant la gamme de graines de tomates que nous proposons :</h2>

<app-button class="accessShopBtn" [text]="'Acceder à notre boutique'" [link]="'/all-categories'"></app-button>


<img src="assets/img/home-aligned-tomatoes.png" alt="image de variétés de tomates">

<app-delivery-infos></app-delivery-infos>

<!-- <p>Test boutons ci dessous:</p>

<app-button [text]="'Paramètres'" [link]="'/error404'"></app-button>
<app-button [text]="'Ajouter au panier'" [link]="'/error404'"></app-button> -->