<div class="containerCookieManagement">

    <h1>Gestion des cookies</h1>
    <p>La présente politique de gestion des cookies explique comment nous, Coeur de Tomate, utilisons les cookies sur notre site web conformément aux exigences du Règlement Général sur la Protection des Données (RGPD).</p>

    <h3>Qu'est-ce qu'un cookie ?</h3>
    <p>Un cookie est un petit fichier texte placé sur votre ordinateur ou appareil mobile lorsque vous visitez un site web. Les cookies sont largement utilisés pour permettre aux sites web de fonctionner de manière efficace, ainsi que pour fournir des informations aux propriétaires du site.</p>

    <h3>Types de cookies utilisés</h3>
    <p>Cookies essentiels
    Les cookies essentiels sont nécessaires au bon fonctionnement de notre site web. Ils comprennent des cookies qui permettent la navigation sur le site et l'accès à ses fonctionnalités de base, telles que l'accès aux zones sécurisées du site.</p>

    <p>Cookies analytiques
    Nous utilisons des cookies analytiques pour recueillir des informations sur la manière dont les visiteurs utilisent notre site. Ces cookies nous aident à analyser et améliorer la performance de notre site web en identifiant les pages les plus populaires, les méthodes de navigation les plus efficaces, et les éventuels problèmes techniques.</p>

    <p>Cookies de personnalisation
    Les cookies de personnalisation sont utilisés pour améliorer votre expérience de navigation en mémorisant vos préférences et en vous proposant un contenu personnalisé en fonction de vos intérêts.</p>

    <h3>Consentement à l'utilisation des cookies</h3>
    <p>En visitant notre site web pour la première fois, une bannière de consentement aux cookies apparaîtra, vous informant de l'utilisation des cookies et vous demandant d'accepter leur utilisation. En continuant à naviguer sur notre site après avoir donné votre consentement, vous acceptez notre utilisation des cookies conformément à la présente politique.</p>

    <p>Vous pouvez retirer votre consentement à tout moment en modifiant les paramètres de votre navigateur pour bloquer l'utilisation des cookies ou en supprimant les cookies déjà stockés sur votre appareil. Cependant, veuillez noter que le blocage des cookies peut affecter votre expérience de navigation sur notre site et limiter certaines fonctionnalités.</p>

    <h3>Modification de la politique de gestion des cookies</h3>
    <p>Nous nous réservons le droit de modifier la présente politique de gestion des cookies à tout moment. Toute modification sera publiée sur cette page, et nous vous encourageons à consulter régulièrement cette page pour rester informé des mises à jour.</p>

    <h3>Nous contacter</h3>
    <p>Si vous avez des questions ou des préoccupations concernant notre politique de gestion des cookies, n'hésitez pas à nous contacter à l'adresse suivante : "coeurdetomate &#64; gmail.com".</p>

</div>