<div class="mainContainerProductDetailsCard">

    <div class="containerProductDetailsCard">

        <img src="{{ product.img }}" alt="image de {{ product.title }}">

        <div class="productInfoFlex">

            <h2> {{ product.title }} </h2>

            <p class="smallDesc"> {{ product.smallDescription }} </p>

            <p class="largeDesc">{{ product.longDescription }}</p>

            <p class="price"> {{ product.price }} €</p>

                <div class="counterAndButtonFlex">

                    <!-- insert a counter component --> <p>compteur</p>
                    <app-button class="addToCartBtn" [text]="'Ajouter au panier'"></app-button>

                </div>

        </div>
 
    </div>

    <div class="counterAndButtonFlexMobile">

        <!-- insert a counter component --> <p>compteur</p>
        <app-button class="addToCartBtn" [text]="'Ajouter au panier'"></app-button>

    </div>

    
</div>