<div class="mainContainerProductDetailsCard">

    <div class="containerProductDetailsCard">

        <img src="{{ product.img }}" alt="image de {{ product.title }}">

        <div class="productInfoFlex">

            <h2> {{ product.title }} </h2>

            <p class="smallDesc"> {{ product.smallDescription }} </p>

            <p class="largeDesc">{{ product.longDescription }}</p>

            <p class="price"> {{ totalPrice }} €</p>

                <div class="counterAndButtonFlex">
                    <app-counter [quantity]="productQuantity" (quantityUpdate)="updateQuantity($event)"></app-counter>
                    <app-button class="addToCartBtn" [text]="'Ajouter au panier'"></app-button>
                </div>
        </div>
    </div>

    <div class="counterAndButtonFlexMobile">

        <app-counter [quantity]="productQuantity" (quantityUpdate)="updateQuantity($event)"></app-counter>
        <app-button class="addToCartBtn" [text]="'Ajouter au panier'"></app-button>

    </div>

    
</div>