<div class="mainContainerProductDetailsCard">

    <div class="containerProductDetailsCard">

        <img src="assets/img/product-ananas.png" alt="">

        <div class="productInfoFlex">

            <h2> title </h2>

            <p class="smallDesc">small description</p>

            <p class="largeDesc">large description</p>

            <p class="price"> price €</p>

                <div class="counterAndButtonFlex">

                    <!-- insert a counter component --> <p>compteur</p>
                    <app-button class="addToCartBtn" [text]="'Ajouter au panier'"></app-button>

                </div>

        </div>
 
    </div>

    <div class="counterAndButtonFlexMobile">

        <!-- insert a counter component --> <p>compteur</p>
        <app-button class="addToCartBtn" [text]="'Ajouter au panier'"></app-button>

    </div>

    
</div>