<div class="deliveryInfosContainer">
    <div class="infoBloc">
        <h3>Frais de port</h3>
        <p>Les frais de livraison en France métropolitaine sont offerts pour toute commande supérieure à 30€ hors taxes (HT).</p>
    </div>

    <div class="infoBloc">
        <h3>Capacité des sachets</h3>
        <p>Chaque sachets contient une quinzaine de graines de tomate (sauf indication contraire pour certaines tomates rares).</p>
    </div>

    <div class="infoBloc">
        <h3>Montant minimum</h3>
        <p>Les commandes sont prises en compte à partir de 10€ (avec livraison).</p>
    </div>
</div>