/* You can add global styles to this file, and also import other style files */
:root {
  --color-header1: #DE3A30;
  --color-header2: #B72027;
  --color-footer: #382E2E;
  --color-button: #97B56B;
  --color-deliveryInfo: #E5CA5F;
  --color-card: #D9D9D9;
  --color-title: #B72027;
}

body {
    width: 100%; /* Largeur de l'écran PC */
    margin: 0 auto; /* Centrer le contenu sur l'écran */
    padding: 0;
    background-color: #fefefe;
    overflow-x: hidden; /* Pour empêcher la barre de défilement horizontale */
  }

h1, h2, h3 {
  font-family: "Lora", serif;
  font-weight: bold;
  font-style: italic;
}

p, button {
  font-family: "Roboto Flex", sans-serif;
}


  /* Media query pour les écrans mobiles */
  @media only screen and (max-width: 430px) {
    body {
      width: 100%; /* Utiliser toute la largeur de l'écran pour les mobiles */
      background-color: aquamarine;
    }
  }



  /* Styles généraux pour le responsive design */
  img, video {
    max-width: 100%; /* Les images et vidéos ne dépasseront pas la largeur du conteneur parent */
    height: auto; /* Garantit que les images ne seront pas déformées */
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
